/* CSS reference page */

/*style form from heading*/

/*Nick O'Hanley's First Block on Home Page for images */

.responsive {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
    

/* This affects the h3 Title placement */

.title{
	background-color:#e5e5e5;
	padding:15px;
	text-align:center;
}

.gridMain{
	/*from W3Schools https://www.w3schools.com/css/css_grid_container.asp */
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	justify-content: space-evenly;
	
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: lightcoral;  /* just using bright colors so I can see what works & doesnt, will change later */
	overflow: hidden;
	position: sticky; 	/* so it'll stay at the top as you scroll */
	top: 0;
	width: 100%; 		/* figure out if still need to set width when using sticky */
}

ul.navbar li {
	float: left;		
	padding: 10px 15px;
}

ul.navbar li a {
	display: inline-block; 		/* makes whole area clickable, not just text & puts them inline */
	padding: 10px 15px;
	text-decoration: none		 /* removes underlines from links*/ 
}


.dropnav li {		       /* active if change to li.dropnavContent, but lists links in absolute position */
	visibility: hidden;
	opacity: 0;
	display: none;
	position: relative;		/* should place drop down content right below button */
	background-color: lightgreen;
	width: 100%;
	z-index: 1;		/* z index specifies stack order of elements, still testing it */
}

.dropnav li a {		/* block not doing anything */
	visibility: hidden;
	opacity: 0;
	position: relative; 
	color: blue;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
} 

.dropnav li a:hover {
	visibility: visible;
	opacity: 1;
	background-color: pink;
	padding: 10px 15px;
}

/* ul.dropnav:hover .dropbtn {		/* I think used it twice??
	background-color: lightgreen;
} */

/* Top Navigation from https://www.free-css.com/free-css-templates/page245/jovaphile */
/* commenting out while I experiment w the nav bar - brooke 
mainav{
	text-align:center;
}
ul{
	text-transform:uppercase;
	list-style-type:none;
}
mainav ul ul{
	z-index:9999; 
	position:absolute; 
	width:180px; 
	text-transform:none; 
	text-align:left;
}
mainav ul ul ul{
	left:180px; 
	top:0;
}
mainav li{
	display:inline-block; 
	position:relative; 
	margin:0 30px 0 0; 
	padding:0;
}
mainav li:last-child{
	margin-right:0;
}
mainav li li{
	width:100%; 
	margin:0;
}
mainav li a{
	display:block; 
	padding:20px 0;
}
mainav li li a{
	border:solid; 
	border-width:0 0 1px 0;
}
/*
mainav .drop{
	padding-left:15px;
}
mainav li li a, #mainav li li .drop{
	display:block; 
	margin:0; 
	padding:10px 15px;
}
mainav .drop::after, #mainav li li .drop::after{
	content:"\f0d7";
}
mainav .drop::after{
	top:25px; 
	left:5px;
}
mainav li li .drop::after{
	top:15px; 
	left:5px;
}

mainav ul ul{
	visibility:hidden; 
	opacity:0;
}
mainav ul li:hover > ul{
	visibility:visible; 
	opacity:1;
}

mainav form{
	display:none; 
	margin:0; 
	padding:20px 0;
}
mainav form select, #mainav form select option{
	display:block; 
	cursor:pointer; 
	outline:none;
}
mainav form select{
	width:100%; 
	padding:5px; 
	border:1px solid;
}
mainav form select option{
	margin:5px; 
	padding:0; 
	border:none;
}


/* Navigation - also commenitng out while i play around w the nav */
/*
#mainav li a{
	color:#000000;
}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{
	color:#74D3D3; 
	background-color:inherit;
}
#mainav li li a, #mainav .active li a{
	color:#FFFFFF; 
	background-color:rgba(51,54,59,.65)/* #33363B ; 
	border-color:rgba(51,54,59,.65)/* #33363B */ /*;
}
#mainav li li:hover > a, #mainav .active .active > a{
	color:#FFFFFF; 
	background-color:#74D3D3;
}
#mainav form select{
	color:#FFFFFF; 
	background-color:#2B2F32; 
	border-color:rgba(255,255,255,.2);/* #FFFFFF
} 
/*

/*style form from heading*/
/* W3Schools https://www.w3schools.com/html/tryit.asp?filename=tryhtml_responsive_media_query3 */


/*-------------------------------------
        4.  About. Copied from Browny script https://onepagelove.com/browny
--------------------------------------*/

.about {padding: 50px 0 100px;}
.about-content {padding-top: 100px;}

.section-heading{
    color:#636a82;
	text-transform: uppercase;
	text-align: center;
}
/*.single-about-txt* - Nick OHanley* - Cartographic representations through generalizatons*/
.single-about-txt h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #74D3D3;
    text-transform: uppercase;	
    background-color:#e5e5e5;
	padding:15px;
	text-align:center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    
}

.single-about-txt p {
    text-align: center;
    font-size: 20px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3
   
}
.single-about-add-info {
    margin: 35px 0;
}
.single-about-add-info h3 {
    color: #636a82;
    font-size: 16px;
    text-transform: capitalize;
}
.single-about-add-info p {
	font-weight: 300;
	border: 0;
	padding: 0;
	margin-top: 3px;
}
/*.single-about-txt*/

/*.single-about-img */
.single-about-img{
	position: relative;
	box-shadow: 0 5px 20px rgba(14,25,80,.30);
}
.single-about-img:before {
    position:  absolute;
    content: " ";
    top: 0;
    left:  0;
    width: 109%;
    height:  100%;
    background: rgba(31,44,108,.3);
}
.single-about-img img {
    max-width: 500px;
    height: 468px;
}
.about-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 109%;
    height: 90px;
    background: #1f2c6c;
}
/*.ab-list-icon */
.about-list-icon ul {
    display: flex;
}
.about-list-icon  ul li a {
    padding-right: 22px;
    cursor:pointer;
    color: #fff;
}
.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
.about-list-icon ul li a i {
    margin-left: 6px;
}
/*.ab-list-icon */



footer {                        
    display: fixed;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}
/*https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer*/