/* CSS reference page */

/*style form from heading*/

/*Nick O'Hanley's First Block on Home Page for images */
    
/*----------------------------------------------Nick O'Hanley's Css - Home Page Original CSS -------------------------------------------------*/

.responsive {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.backgroundimg {
  width: 100%;
  max-width: 2000px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
  
.title{
background-color: #4A675A;
padding:7px;
  text-align:center;
  font-family:Helvetica;
  font-size: large;
  color:white;
  stroke: 3px; 
}

.about-content {padding-top: 100px;
font-size: 12px;
font-family: Helvetica;
color:black;
background-color:#e5e5e5;
padding:15px;
text-align:center;
}    



/* Originally taken from W3 schools - meet the team but modified to suit my needs and add a column */


.column {
  float: left;
  width: 23%;
  padding: 10px;
  height: 300px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}



.gridMain{
	/*from W3Schools https://www.w3schools.com/css/css_grid_container.asp */
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	justify-content: space-evenly;
	
}



/* Navbar - Brooke's section */
/* background color for navbar  */
.topnav {
	background-color: #4A675A;
	overflow: hidden;
  }
  
  /* Style for navbar links */
  .topnav a {
	float: left;
	display: block;
	color: #D8E1D3;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 16px;
  }
  
  /* active class highlights current page */
  .active {
	background-color:rgb(159, 170, 145);
	color: #D8E1D3;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }
  
  /* Dropdown container - positions dropdown content */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Style for dropdown button  */
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #D8E1D3;
	padding: 15px 15px;
	background-color: inherit;
	margin: 0;
  }
  
  /* Style for dropdown content */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(159, 170, 145);
	min-width: 160px;
	z-index: 1;
  }
  
  /* Style for links inside dropdown */
  .dropdown-content a {
	float: none;
	color: #D8E1D3;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a background color to topnav links & dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(159, 170, 145);
	color: #D8E1D3;
  }
  
  /* background for dropdownlinks on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* show dropdown-content on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* responsive design - hide links when screen width is less than 600px, only show Home & link to open/close the rest of the links */
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child), .dropdown .dropbtn {
	  display: none;
	}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  /* responsive design - added to the navbar with JavaScript when icon is clicked, displays vertically instead of horizontally */
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
	  display: block;
	  width: 100%;
	  text-align: left;
	}
  }

  /* section ends */


/*style form from heading*/
/* W3Schools https://www.w3schools.com/html/tryit.asp?filename=tryhtml_responsive_media_query3 */


/*-------------------------------------
        4.  About. Copied from Browny script https://onepagelove.com/browny
--------------------------------------*/

.about {padding: 50px 0 100px;}

.section-heading{
    color:#636a82;
	text-transform: uppercase;
	text-align: center;
}
/*.single-about-txt* - Nick OHanley* - Cartographic representations through generalizatons*/
.single-about-txt h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-transform: uppercase;	
    background-color:#e5e5e5;
	padding:15px;
	text-align:center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    
}

.single-about-txt p {
    text-align: center;
    font-size: 20px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3
   
}
.single-about-add-info {
    margin: 35px 0;
}
.single-about-add-info h3 {
    color: #636a82;
    font-size: 16px;
    text-transform: capitalize;
}
.single-about-add-info p {
	font-weight: 300;
	border: 0;
	padding: 0;
	margin-top: 3px;
}
/*.single-about-txt*/

/*.single-about-img */
.single-about-img{
	position: relative;
	box-shadow: 0 5px 20px rgba(14,25,80,.30);
}
.single-about-img:before {
    position:  absolute;
    content: " ";
    top: 0;
    left:  0;
    width: 109%;
    height:  100%;
    background: rgba(31,44,108,.3);
}
.single-about-img img {
    max-width: 500px;
    height: 468px;
}
.about-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 109%;
    height: 90px;
    background: #1f2c6c;
}
/*.ab-list-icon */
.about-list-icon ul {
    display: flex;
}
.about-list-icon  ul li a {
    padding-right: 22px;
    cursor:pointer;
    color: #fff;
}
.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
.about-list-icon ul li a i {
    margin-left: 6px;
}
/*.ab-list-icon */
/*--------------------------------------------------------------*/


/* Surveying Page Layout by katelyn Corrigall-Millins; December 4th, 2019 */
 /* Tensure to use 23% for images */

.surveyhead {padding: 50px 0 100px;}


.survey-text h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
	padding:15px;
	text-align:center;
}
    
.survey-text {
	padding-top: 100px;
	font-size: 18px;
	font-family: Helvetica;
	color:black;
	background-color:#e5e5e5;
	padding:15px;
	text-align:center;
	border: 2px solid;
    	margin-left: 20px;
    	border-radius: 8px;
    	width: 30px;
   	 height: 30px;
    	line-height: 28px;
}

/* images for survey part of site By Katelyn Corrigall-Millins */
.survey-pic column {
  float: left;
  width:23%;
  padding: 8px;
  height: 350;
}

/* Clear floats after image containers */
.survey-pic row::after {
  content: "";
  clear: both;
  display: inline-block;
} 

/* -----------------------------------------------------------*/
/* footer section */
/* remove for now */
/*https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer*/
